*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow:hidden;
    object-fit: cover;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 25px;
    color:black;
    font-family:'Ubuntu', sans-serif; 
}
nav ul li{   
    list-style-type: none;
    padding-right: 10px;
    padding-left:10px ;
    color: rgb(246, 240, 240);
    display: inline-block;
}
nav ul li a{
    color: rgb(246, 240, 240);
    text-decoration: none; 
}
li:hover{
    transform: scale(1.1); 
    transition: .5s;
    color: rgb(0, 0, 0);
    /* border: 3px solid red;  */
    border-radius: 20px;
    cursor: pointer;
    background-color: #ff135d;
}
nav ul li a:hover{
    transform: scale(1.1); 
    transition: .5s;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    background-color: #ff135d;
}
header p{  
    position: absolute;
    margin-bottom: 20px;
    font-size: 2rem; 
    left: 25%;
    top: 70%;
    font-family:'Ubuntu', sans-serif;
    
}

header h3{
    position: absolute;
    font-family:  'Atma', cursive;
    font-size: 5rem;
    color: black;
    left: 37.5%;
    top: 40%;
}
span{
    color: antiquewhite;
}
.header-image{
    background-image: url("https://images.indulgexpress.com/uploads/user/imagelibrary/2021/4/9/original/JW_Marriott_Kolkata.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position:absolute;
}
input{
    position: absolute;
    width: 25%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    left: 37%;
    top: 80%;
    margin-top: 18px;
    padding: 5px 5px;
    font-size: medium;
}
.wel{
    position:absolute;
    width: 23%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.468);
    top: 20%;
    left:3%;
    padding-left: 15px;
    padding-right: 15px;
}
.wel h4{
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    font-family: 'Atma', cursive;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.wel span{
    text-align: center;
    font-family:'Ubuntu', sans-serif;
}
.wel p{
    position:absolute;
    text-align: center;
    font-family: 'Atma', cursive;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.73);
    margin-top: 15px;
    margin-left: 42px;
    background-color: #ff1342a2;
    border-radius: 10px;
}
.wel p:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
    color: black;
    border-radius: 15px;
}
.dish{
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
.dish span{
    color:#ff135d ;
}
.background{
    background-color: rgb(255, 254, 215);
    height: 170vh;
}
.sec-1{
    display: flex;
    margin-bottom: 7vh;
    justify-content: center;
    margin-top: 30px;
}
.sec-1 h4{
    position:absolute;
    font-size: 20px;
    font-family:'Ubuntu', sans-serif;
}
.box{
    position: relative;
    height: 240px;
    width: 210px;
    margin: 0px 10px;
    border-radius: 15px;
    overflow: hidden;
    background-color: antiquewhite;
    box-shadow: 0 5px 3px gray;
    margin-top: 35px;
}
.box:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}
.box img{
    width: 100%;
    height: 80%;
    border-radius: 15px 15px 0 0;
    /* border: 1px solid gray; */
}
.white{
    position: absolute;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px; 
    width: 100%;
    height:20%;
    border-radius: 0 0 15px 15px;
   
}
.white p1{
    /* text-align: center; */
    font-size: 1em;
    font-family:'Ubuntu', sans-serif; 
}
.white span{
    color: #ff135d;
}
.contain{
    height: 100vh;
    width: 100%;
    background-color:aliceblue;
}
.contain h1{
    text-align: center;
    font-size: 3em;
    font-family:'Atma', cursive;

}
.contain p{
    position: absolute;
    width: 35%;
    height: 60%;
    margin-top: 7%;
    padding: 35px;
    padding-left: 80px;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
.contain img{
    position: absolute;
    right: 5%;
    margin-top: 10%;
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 0 15px 15px grey;
}
.foot{
    position: absolute;
    height: 45vh;
    width: 100%;
    background-image: url("https://wallpaperaccess.com/full/2614486.jpg");
    background-size: cover;
}
.all-item{
    display: flex;
    align-items: center;
    margin-top: 11%;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    opacity: 2;
}
.all-item p{
    margin-top: 15px;
    color: goldenrod;
}
.item p a{
    color: goldenrod;
    margin-right: 10px;
}
.item p a :hover{
    transform: scale(1.5);
    transition: .5s;
}